<%- model_class = Poll -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.id, poll_path(poll) %></td>
        <td><%= poll.question[0...254] %></td>
        <td>
          <%= link_to t('.vote', :default => "Vote"),
                      "/votes/new?poll=#{poll.id}", :class => 'btn btn-mini btn-success' %>
          <%if !poll.poll_has_votes?%>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_poll_path(poll), :class => 'btn btn-mini' %>
          <%end%>             
          <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      poll_path(poll),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_poll_path,
            :class => 'btn btn-primary' %>

