<%- model_class = Vote -%>
<div class="page-header">
  <h1>Results</h1>
</div>
<!-- TODO: Move this logic to model -->
<div class="well">
  <div class="alert alert-info">
    <strong>Question: </strong><%="#{@poll.question}\n"%>
  </div>
  <%if @poll.answers.count > 0 %>
    <% @poll.answers.each_with_index do |answer,i|%>
        <%="\t#{answer.content}"%> (<%="#{answer.votes.count}\n"%> votes)
        <div class="progress progress-striped active">
          <div class="bar" style="width: <%=answer.votes.count%>1%;"></div>
        </div>
    <%end%>
  <%else%>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> No answers. To create/edit your polls <a href="<%=new_poll_path%>">visit this page</a>.
    </div>
  <%end%>
</div>

<%= link_to "Return to polls",
            polls_path,
            :class => 'btn btn-primary' %>